<%- include('partials/header'); -%>

<main class="main1">
  <% if (data === null) { %>
    <p>You don't have posts</p>
  <% } else { %>
   
    <% data.forEach(blog => { %>
    <div class="card">
      <div class="image"></div>
      <div class="text">
        <a href="/blog/<%= blog.document._id %>">
          <h2><%= blog.document.title %></h2>
          <p class="article-list__date"><%= blog.document.createdAt.toDateString() %></p>
          <!-- <a href="/blog/edit//<%= blog.document._id %>">edit post</a> -->
        </a>
      </div>
    </div>
    <% }) %> 
    <% } %>
  
  <%- include('partials/footer'); -%>
</main>
